page-criar-tarefa {
    form {
        padding: 10px;
    }

    .botao-form {
        margin-top: 30px;
        height: 50px;
        border-radius: 5px;
    }

    ion-input {
        border: 1px solid #d3d3d3;
    }

    ion-label {
        font-size: 20px;
    }

}
